{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoApp</title>
    <link rel="stylesheet" href={% static "css/index.css" %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src={% static "js/todo.js" %} type="module"></script>
  </head>
  <body>
    <header>
      <nav>
        <span class="logo">TodoApp</span>
        <form action="/logout" method="POST">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </nav>
    </header>
    {% block content %} {% endblock content %}
    <h1 class="todos-heading">All Todos</h1>
    <div class="todos">
      {% for todo in todos %}
        <div class="todo">
          <div class="left-align">
            <form action="{% url 'check_todo' todo.id %}" method="POST">
              {% csrf_token %}
              <input type="checkbox" id="{{ todo.id }}" class="checkbox" {% if todo.is_checked %}checked{% endif %}>
            </form>
            <h2 class="todo-body">{{ todo.body }}</h2>
          </div>
          <div class="buttons">
            <form action="{%  url 'delete_todo' todo.id %}" method="post">
              {% csrf_token %}
              <button type="submit">Delete</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
